@import url(./rengler.css);

.footer {
    background: var(--badimcan-tund);
    display: flex;
    justify-content: space-between;
}
.footer-sol {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.footer-sol img {
  padding: 60px;
  margin-top: 80px;
}
.footer-sol h5 {
    color: var(--bozun-acigi);
    font-weight: 700;
    font-size: 23px;
    padding: 5px;
}
.footer-link a {
  text-decoration: none;
  color: var(--bozun-acigi);
  display: block;
  padding: 1px 10px;
  transition: all 0.5s ease;
}
.footer-link a:hover {
  color: var(--ag-reng);
  transform: translateX(10px);
}

.footer-sag {
  width: 30%;
}
.footer-sag h3 {
  color: var(--bozun-acigi);
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 45px;
}

.social-platforms {
  margin-top: 80px;
}
.social-platforms ul {
  transform: translate(-50%, -50%);
  display: flex;
}
.social-platforms ul li {
  list-style: none;
}
.social-platforms ul li a {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--bozun-acigi);
  margin: 0 30px;
  transition: 0.5s;
}
.social-platforms ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.social-platforms ul li a span:nth-child(1),
.social-platforms ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: var(--bozun-acigi);
}
.social-platforms ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.social-platforms ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.social-platforms ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.social-platforms ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.social-platforms ul li a span:nth-child(2),
.social-platforms ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: var(--bozun-acigi);
}
.social-platforms ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.social-platforms ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.social-platforms ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.social-platforms ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span {
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span {
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span {
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span {
  background: #dd4b39;
}
.social-platforms ul li a .twitter {
  color: #1da1f2;
}
.social-platforms ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.social-platforms ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

@media(max-width:1280px) {
  .footer-sag {
    width: 35%;
  }
  .google {
    margin: 0 !important;
  }
}
@media(max-width:1114px) {
  .footer-sol {
    width: 40%;
  }
  .footer-sag {
    width: 40%;
  }
}
@media(max-width:991px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-sol {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-sol img {
    display: none;
  }
  .footer-link {
    margin-right: 50px;
  }
  .footer-sag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .social-platforms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .social-platforms ul {
    transform: translate(-5%, -30%);
  }
}
@media(max-width:834px) {
  .footer-link {
    margin-right: 60px;
  }
  .social-platforms ul {
    transform: translate(-5%, -30%);
  }
}
@media(max-width:576px) {
  .footer-sol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .footer-link {
    margin: 0;
  }
  .social-platforms {
    margin-top: 30px;
  }
  .social-platforms ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(-5%, -30%);
  }
  .social-platforms li:nth-child(3),.social-platforms li:nth-child(4) {
    margin-top: 30px;
  }
  .google {
    margin: 0 30px !important;
  }
}
@media(max-width:320px) {
  .social-platforms {
    margin: 80px -5px;
  }
  .social-platforms li:nth-child(2) {
    margin-top: 20px;
  }
}
