@import url(../../css/rengler.css);


.supernovva_ozudu {
    
 background: rgb(0, 0, 0);
 overflow: hidden;
    height: 100vh;
    position: relative;
}
.supernova {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    overflow: visible;
    
  }
  
  .supernova i {
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    left: -200px !important;
    top: -200px !important;
    border-radius: 50%;
    opacity: 0;
    animation-name: supernova;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  
  .supernova i:nth-child(1) {
    animation-delay: 0.3s;
  }
  
  .supernova i:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .supernova i:nth-child(3) {
    animation-delay: 0.9s;
  }
  
  .supernova i:nth-child(4) {
    animation-delay: 1.2s;
  }
  
  .supernova i:nth-child(5) {
    animation-delay: 1.5s;
  }
  
  .supernova i:nth-child(6) {
    animation-delay: 1.8s;
  }
  
  .supernova i:nth-child(7) {
    animation-delay: 2.1s;
  }
  
  .supernova i:nth-child(8) {
    animation-delay: 2.4s;
  }
  
  .supernova i:nth-child(9) {
    animation-delay: 2.7s;
  }
  
  .supernova i:nth-child(10) {
    animation-delay: 3s;
  }
  
  @keyframes supernova {
    0%,
    30% {
      transform: scale(0.01) translate(0px, 0px);
      opacity: 0;
      background-color: rgba(205, 55, 0, 0.3);
      box-shadow: 0px 0px 8rem rgba(255, 140, 0, 0.3);
    }
    45% {
      transform: scale(0.15) translate(0px, 0px);
      opacity: 1;
      background-color: rgba(205, 55, 0, 0.9);
      box-shadow: 0px 0px 12rem rgba(255, 140, 0, 0.3);
    }
    60% {
      transform: scale(0.13) translate(0px, 0px);
      opacity: 1;
      background-color: rgba(255, 255, 224, 0.95);
      box-shadow: 0px 0px 7rem rgba(255, 255, 224, 0.3);
    }
    75% {
      transform: scale(0.2) translate(-5px, -5px);
      opacity: 1;
      background-color: rgba(255, 255, 224, 0.5);
      box-shadow: 0px 0px 9rem rgba(255, 255, 255, 0.65);
    }
    85% {
      transform: scale(0.3) translate(-5px, -5px);
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 0px 15rem rgba(255, 255, 255, 0.75);
    }
    98% {
      transform: scale(0.4) translate(-10px, -10px);
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 30rem rgba(255, 255, 255, 0.85);
    }
    100% {
      transform: scale(20) translate(-20px, -20px);
      opacity: 0;
      box-shadow: 0px 0px 15rem rgba(255, 255, 255, 0.3);
    }
  }
  .supernovvva_orta {
    position: absolute;
    border: 1px solid var(--bozun-acigi);
    border-radius: 15px;
    background: linear-gradient(to right, #41295a, #2f0743);
    box-shadow: 0 0 20px 5px var(--ag-reng);
    padding: 10px;
  }
  .supernovvva_orta h1 {
    color: var(--ag-reng);
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    
  }
  .supernovvva_orta p {
    color: var(--ag-reng);
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
  }

  @media(max-width:576px) {
    .supernovvva_orta {
      padding: 0;
    }
    .supernovvva_orta h1 {
      font-size: 35px;
    }
    .supernovvva_orta p {
      font-size: 20px;
    }
  }
  @media(max-width:360px) {
    .supernovvva_orta h1 {
      font-size: 30px;
    }
    .supernovvva_orta p {
      font-size: 17px;
    }
  }
  @media(max-width:320px) {
    .supernovvva_orta h1 {
      font-size: 23px;
      margin: 2px;
    }
    .supernovvva_orta p {
      font-size: 13px;
    }
  }