@import url(../../css/rengler.css);

.additionally_two {
    background-image: url(../../../assets/images/additionaly_hissesi/additionaly_iki/Big_Bang_hero.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}
.additional_yazilar {
    display: flex;
    justify-content: center;
}
.additional_yazilar h1 {
    color: var(--bozun-acigi);
    font-size: 80px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px var(--badimcan-rengi);
    transition: all 0.5s ease;
    animation: shadow-animation 1s infinite alternate;
    padding: 3px;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 20px 5px var(--badimcan-rengi);
    }
    50% {
        box-shadow: 0 0 20px 5px var(--basqa-reng);
    }
    100% {
        box-shadow: 0 0 20px 5px var(--badimcan-rengi);
    }
}

@media(max-width:1114px) {
    .additional_yazilar h1 {
        font-size:60px ;
    }
}
@media(max-width:884px) {
    .additionally_two {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: var(--qara-reng);
    }
}
@media(max-width:390px) {
    .additional_yazilar h1 {
        font-size:40px ;
    }
}
@media(max-width:320px) {
    .swiper-slide {
        margin-right: 0;
    }
}