@import url(../../css//rengler.css);

.planetss {
    background-image: url('../../../assets/images/planets/dunya.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sekiller_eyni {
    width: 100%;
    height: 150%;
}

@media(max-width:1280px) {
    .planetss {
        display: flex;
        flex-wrap: wrap;
     }
}
@media(max-width:576px) {
    .kart {
        width: 30px;
        height: 50px;
     }
}

