@import url(../../css//rengler.css);

.neptun {
    background: var(--qara-reng);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.neptun_sol {
flex-basis: 50%;
}
.neptun_sol img {
    width: 80%;
    height: 100%;
}
.neptun_sag {
flex: 1;
}
.neptun h1 {
    color: var(--ag-reng);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.neptun p {
    color: var(--bozun-acigi);
    font-size: 25px;
    font-weight: 400;
}
.neptun table {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.neptun td {
    color: var(--ag-reng);
    padding: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--table-ucun);
    border-radius: 10px;
    text-transform: uppercase;
    transition:box-shadow 0.5s ease ;
}
.neptun td:hover {
    box-shadow: 0 0 20px 5px #bbbbbb;
    border-radius: 15px;
    background: linear-gradient(to right, #2b5876, #4e4376);
}

@media(max-width:1114px) {
    .neptun_sol {
        flex-basis: 30%;
    }
    .neptun_sag td {
        padding: 15px;
    }
}
@media(max-width:884px) {
    .neptun {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .neptun_sol img {
        width: 40%;
        height: auto;
    }
}
@media(max-width:768px) {
    .neptun_sol {
        display: none;
    }
    .neptun_sag {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:390px) {
    .neptun_sag p {
        font-size: 22px;
    }
    .neptun_sag td {
        padding: 10px;
    }
}
@media(max-width:360px) {
    .neptun_sag p {
        font-size: 20px;
    }
    .neptun_sag td {
        padding: 5px;
    }
}
@media(max-width:320px) {
    .neptun_sag h1 {
        font-size: 25px;
    }
    .neptun_sag p {
        font-size: 16px;
    }
    .neptun_sag table {
        margin-top: 0;
    }
    .neptun_sag td {
        padding: 2px;
    }
}