@import url(../../css//rengler.css);

.mercury {
    background: var(--qara-reng);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mercury_sol {
flex-basis: 50%;
}
.mercury_sol img {
    width: 70%;
    height: 100%;
}
.mercury_sag {
flex: 1;
}
.mercury_sag h1 {
    color: var(--ag-reng);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.mercury_sag p {
    color: var(--bozun-acigi);
    font-size: 25px;
    font-weight: 400;
}
.mercury table {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.mercury td {
    color: var(--ag-reng);
    padding: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--table-ucun);
    border-radius: 10px;
    text-transform: uppercase;
    transition:box-shadow 0.5s ease ;
}
.mercury td:hover {
    box-shadow: 0 0 20px 5px #bbbbbb;
    border-radius: 15px;
    background: linear-gradient(to right, #2b5876, #4e4376);
}